@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    margin-bottom: 14px;
}
body
{
    display: block;
    color: white;
    background-color: black;
    
}

.container
{
    text-align: center;
    align-content: center;
    
}

.main
{

    height: 60vh;
    background-image: url(/Group192.png) ;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40vh;
}


.friends
{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 25px;
background: radial-gradient(55.25% 50% at 50% 50%, #DB519E 0%, #697EFC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

h1
{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    margin-top: 20px;
    margin-left: 10px;
}
h1 span
{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */


background: radial-gradient(55.25% 50% at 50% 50%, #DB519E 0%, #697EFC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
h2
{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
}

.s1 h2
{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 24px;
}

p
{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-size: 20px;
line-height: 20px;

}

button
{
    margin-top: 10px;
    background: linear-gradient(92.74deg, rgba(211, 69, 180, 0.79) 1%, rgba(0, 36, 255, 0.74) 99.44%);
    border-radius: 30px;
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.emoji
{
    margin-bottom: 60px;
}

.main_1
{
    font-size: 40px;
    margin-bottom: 80px;
}

.main_1 button
{
    padding-left: 40px;
    padding-right: 40px;
}



.emoji_row
{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: calc(50vw - 200px)
}

.e1
{
    margin-top: 40px;
}

.e3
{
    margin-top: 40px;
}

.emoji_container
{
position: relative;

}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(211, 69, 180, 0.79);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }